@media only screen and (max-width: 1090px)
{
    .patent-box{
        flex-direction: column;
    }
    .patent-box2{
        max-width: 70%;
    display: block;
    margin: auto;
    }
    .patent-box1{
        margin-top: 5%;
    }
}