/* css reset  */
body{
    margin: 0px;
    padding: 0px;
}

/* banner-sol */

#banner-sol {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    /* background-image: url("../../images/banner-sol.jpg"); */
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    padding: 6em 0 2em 0 ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0 !important;
    cursor: default;
    height:90vh;
    margin-bottom: -3.25em;
    max-height: 39em;
    /* min-height: 22em; */
    position: relative;
    top: -3.25em;
    /* opacity: 0.8; */
}

    #banner-sol:after {
        -moz-transition: opacity 2.5s ease;
        -webkit-transition: opacity 2.5s ease;
        -ms-transition: opacity 2.5s ease;
        transition: opacity 2.5s ease;
        -moz-transition-delay: 0.75s;
        -webkit-transition-delay: 0.75s;
        -ms-transition-delay: 0.75s;
        transition-delay: 0.75s;
        pointer-events: none;
        background: url("/html5up-forty/images/sol-1.jpg") no-repeat center center/cover;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        /* opacity: 0.85; */
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    #banner-sol h1 {
        font-size: 3.25em;
    }

    #banner-sol > .inner {
        -moz-transition: opacity 1.5s ease, -moz-transform 0.5s ease-out, -moz-filter 0.5s ease, -webkit-filter 0.5s ease;
        -webkit-transition: opacity 1.5s ease, -webkit-transform 0.5s ease-out, -webkit-filter 0.5s ease, -webkit-filter 0.5s ease;
        -ms-transition: opacity 1.5s ease, -ms-transform 0.5s ease-out, -ms-filter 0.5s ease, -webkit-filter 0.5s ease;
        transition: opacity 1.5s ease, transform 0.5s ease-out, filter 0.5s ease, -webkit-filter 0.5s ease;
        padding: 0 !important;
        position: relative;
        z-index: 2;
    }

        #banner-sol > .inner .image {
            display: none;
        }

        #banner-sol > .inner header {
            /* width: min-content; */
            margin-left: 4%;
        }

            #banner-sol > .inner header > :first-child {
                width: fit-content;
            }

                #banner-sol > .inner header > :first-child:after {
                    max-width: 100%;
                }

        #banner-sol > .inner .content {
            display: -moz-flex;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            -moz-align-items: center;
            -webkit-align-items: center;
            -ms-align-items: center;
            align-items: center;
            margin: 0 0 2em 0;
        }

            #banner-sol > .inner .content > * {
                margin-right: 1.5em;
                margin-bottom: 0;
            }

            #banner-sol > .inner .content > :last-child {
                margin-right: 0;
            }

            #banner-sol > .inner .content p {
                font-size: 0.7em;
                font-weight: 600;
                letter-spacing: 0.25em;
                text-transform: uppercase;
            }

    #banner-sol.major {
        height: 100vh;
        min-height: 30em;
        max-height: 50em;
    }

        #banner-sol.major.alt {
            opacity: 0.75;
        }

    #banner-sol.style1:after {
        background-color: #6fc3df;
    }

    #banner-sol.style2:after {
        background-color: #8d82c4;
    }

    #banner-sol.style3:after {
        background-color: #ec8d81;
    }

    #banner-sol.style4:after {
        background-color: #e7b788;
    }

    #banner-sol.style5:after {
        background-color: #8ea9e8;
    }

    #banner-sol.style6:after {
        background-color: #87c5a4;
    }

    body.is-preload #banner-sol:after {
        opacity: 1.0;
    }

    body.is-preload #banner-sol > .inner {
        -moz-filter: blur(0.125em);
        -webkit-filter: blur(0.125em);
        -ms-filter: blur(0.125em);
        filter: blur(0.125em);
        -moz-transform: translateX(-0.5em);
        -webkit-transform: translateX(-0.5em);
        -ms-transform: translateX(-0.5em);
        transform: translateX(-0.5em);
        opacity: 0;
    }

    @media screen and (max-width: 1280px) {

        #banner-sol {
            background-attachment: scroll;
        }

    }

    @media screen and (max-width: 736px) {

        #banner-sol {
            padding: 5em 0 1em 0 ;
            height: auto;
            margin-bottom: -2.75em;
            max-height: none;
            min-height: 0;
            top: -2.75em;
        }

            #banner-sol h1 {
                font-size: 2em;
                font-size: 1.7em;
            }

            .h3-second{
                font-size: 1.65em;
            }

            .h1-second{
                font-size: 1.65em;
            }

            #banner-sol > .inner .content {
                display: block;
            }

                #banner-sol > .inner .content > * {
                    margin-right: 0;
                    margin-bottom: 2em;
                }

            #banner-sol.major {
                height: auto;
                min-height: 0;
                max-height: none;
            }

    }

    @media screen and (max-width: 480px) {

        #banner-sol {
            padding: 6em 0 2em 0 ;
        }

            #banner-sol > .inner .content p br {
                display: none;
            }

            #banner-sol.major {
                padding: 8em 0 4em 0 ;
            }

    }

    /* Section  */

    .section-flex{
        display: flex;
        justify-content: space-evenly;
        height: 25rem;
        align-items: center;
    }

    /* .section-flex > .image{
        position: relative;
    top: 0px;
    left: 7rem;
    } */

    .section-flex > .content-sol{
        width: 41%;
    }

    .section-flex .content-sol ul li{
        line-height: 3.5rem;
        font-size: 1.1rem;
    }
